.config/raycast/*
.config/glow/*
.config/toad/*
.config/zed/*
.config/television/*
.config/thefuck/*
.luarc.json
.DS_Store
.config/lazysql/*
.config/act/*
.config/mole/*
.config/nvm
.config/vortix/*
.config/zsh/.zcomp*
.config/zsh/.zsh_history
.config/zsh/completions/*
.config/zsh/plugins/*
.config/ty/*
.ticker.yaml
.config/amp/*
.config/dlv/*
.config/fish/*
.config/gh/*
.config/lazydocker/*
.config/homebrew/*
.config/opencode/*
.pi/agent/*
!.pi/agent/package.json
!.pi/agent/themes/
!.pi/agent/themes/*.json
!.pi/agent/extensions/
!.pi/agent/extensions/**
!.pi/agent/npm/
!.pi/agent/npm/.gitignore
!.pi/agent/npm/package.json
!.pi/agent/npm/package-lock.json
